@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #007bff;
}
/* <!-- Start Quiz Button --> */

.startBtn,
.quiz_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.startBtn button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s;
}

.startBtn button:hover {
  color: #fff;
  background: #007bff;
  border: 1px solid #fff;
}

/* <!-- Question Displayed --> */

.quiz_container {
  user-select: none;
  width: 550px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quiz_container > header {
  position: relative;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}
.quiz_title {
  font-size: 24px;
  font-weight: 500;
}
.count_down {
  background-color: #cce5ff;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  color: #000;
  align-items: center;
  font-weight: 500;
}
.count_down > :last-child {
  color: #fff;
  margin-left: 10px;
  background-color: #000;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  width: 40px;
  font-size: 16px;
}
/* <!-- Quiz Quesitons/Answer --> */

.qustions_container {
  padding: 20px 30px;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

#qustions {
  display: flex;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 10px;
}
.options_list {
  display: flex;
  flex-direction: column;
}
.options {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  gap: 10px;
}
.options:hover {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}
/* <!-- Quiz Footer Next Button --> */
.footer_container {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qustion_Count {
  display: flex;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
}
.next_Btn button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.next_Btn button:hover {
  color: #fff;
  background: #004085;
}
